body {
  background: #3d0002;
  background-position: center;
  min-height: 100vh;
}

#blog-list article {
  margin-top: 40px!important;
  margin-bottom: 70px!important;
}

#blog article {
  margin-top: 40px!important;
  margin-bottom: 50px!important;
}

.uk-section-secondary {
  border-radius: 4px;
  box-shadow: 5px 5px 25px rgb(0 0 0 / 55%);
}

.uk-section-default {
  border-radius: 4px;
  box-shadow: 5px 5px 25px rgb(0 0 0 / 55%);
}

.uk-pagination {
  font-size: 1.5rem;
}

.uk-pagination>.uk-active>* {
  color: #700004 !important;
}

.uk-pagination>*>:focus, .uk-pagination>*>:hover {
  color: #700004 !important;
}

article {
  font-family: Montserrat !important;
}

.uk-article-title {
  font-weight: 700 !important;
  font-size: 2.25rem !important;
}

.uk-article-meta {
  font-weight: 400 !important;
}

.text-accent-color {
  color: #700004 !important;
}

.text-capital {
  font-family: Merriweather !important;
  font-size: 55px;
  line-height: 60px;
  float: left;
  text-align: center;
  margin: 0;
  position: relative;
  top: 9px;
  margin-right: 15px;
  color: white;
  background-color: #700004;
  min-width: 60px;
  height: 60px;
  text-transform: uppercase;
}

blockquote {
  color: #700004;
  border-left: solid 4px #700004;
  font-style: italic;
  margin: 0 0 2rem;
  padding: .5rem 0 .5rem 2rem;
}

@media screen and (max-width: 560px) {
  .nav-list {
    margin-top: 20px !important;
  }
}

@media (max-width: 960px) {
  .uk-article-title {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .uk-section-secondary {
    border-radius: 0;
  }
  .uk-section-default {
    border-radius: 0;
  }
}