@font-face {
  font-family: SourceSansPro;
  src: url(/assets/font/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(/assets/font/SourceSansPro-SemiBold.ttf);
  font-weight: bold;
}
