@font-face {
  font-family: SourceSansPro;
  src: url(/assets/font/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(/assets/font/SourceSansPro-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Merriweather;
  src: url(/assets/font/Merriweather-Light.ttf);
}

.font-size-12pt {
  font-size: 12pt !important;
}