.uk-section-secondary {
  background: rgb(50, 2, 2);
}

.home-banner {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.home-banner:before {
  content: '';
  background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.home-container {
  display: flex;
}

.home-container-inner {
  align-self: center;
  width: 100%;
}

#social-icon-div .social-icon {
  font-size: 1.1rem;
  padding: 0 6px 0 6px;
}

#social-icon-div .social-icon:hover {
  color: gray;
}

#about .about-desktop {
  display: flex;
}

#about .about-mobile {
  display: none;
}

#about .about-avatar {
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  border: solid 2px #ffffff;
  border-radius: 100%;
  background-size: 115%;
  background-position: 70% 10%;
  background-repeat: no-repeat;
}

#about .about-avatar-container {
  align-items: center;
  justify-content: center;
}

#cv .cv-title {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0.8rem;
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

#cv .cv-title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .5rem;
  text-transform: uppercase;
  margin: 0 0 0.3rem 0;
}

#cv .cv-title h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 0 0 0.3rem 0;
}

#cv .cv-avatar {
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  border: solid 2px #ffffff;
  border-radius: 100%;
  background-size: 100%;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  margin-bottom: 0.3rem;
}

#cv .cv-subtitle {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

#cv .skill-column {
  padding: 0.35rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
  width: calc(100% * 1 / 3.001);
  max-width: 100%;
}

#cv .progressbar {
  background-color: grey;
  margin-top: 0.3rem;
}

#cv .progressbar>div {
  background-color: white;
  height: 0.4rem;
}

#work .work-link:hover, #work .work-link:focus {
  text-decoration: none;
}

#work .work-container:hover, #work .work-container:focus {
  background: #333;
}

#work .work-image {
  width: 100%;
}

#work .uk-card-body {
  padding: 20px;
}

#work .uk-subnav.uk-subnav-center>li {
  width: 100px;
}

@media screen and (max-width: 480px) {
  #cv .cv-title h2 {
    font-size: 1rem;
  }
  #cv .cv-title h3 {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 560px) {
  #about .about-desktop {
    display: none;
  }
  #about .about-mobile {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #cv .skill-column {
    padding: 0.35rem 0 2rem 0;
    width: 100%;
  }
  #cv .skill-column:last-child {
    padding: 0.35rem 0 0.35rem 0;
  }
}